{% extends "base.html" %}

{% block content %}
<div class="bg-light py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-0 ">
                <a class="text-muted" href="{% url 'home' %}">Home</a>
                <span class="mx-2 mb-0">/</span>
                <strong class="text-black">Shop</strong>
                <div class="btn-group float-right">
                    <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Categories
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        {% for category in categories %} 
                            <button class="dropdown-item" type="button">
                            <a href="?category={{ category.name }}" class="d-flex text-muted"><span>{{ category.name }}</span></a>
                            </button>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="site-section">
    <div class="container">
        <div class="row">
        {% for product in object_list  %}
            <div class="col-sm-3 mb-5">
                <div class="card h-100 shadow">
                <img class="card-img-top" src="{{ product.image.url }}" alt="Product Image">
                <div class="card-body d-flex flex-column justify-content-between">
                <h5 class="card-title">{{ product.title }}</h5>
                <p class="mb-0">{{ product.description|truncatechars:100 }}</p>
                <hr/>
                <p class="mb-0">Price<span class="float-right">{{ product.get_price }} €</span></p>
                </div>
                <div class="card-footer">
                    <a href="{{ product.get_absolute_url }}" class="btn btn-info btn-sm">More Info</a>

                </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}