{% extends "base.html" %}

{% block content %}

<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="display-1 font-weight-bold text-light">Thank you for trying this website!</h1>
        <p class="lead text-white">All though the products on these page aren't real</p>
        <p class="lead text-white">I would stronly recommend making yourself a cup of coffee or tea!</p>
      </div>
    </div>
  </div>
</header>

{% endblock content %}