{% extends "base.html" %}

{% block content %}

<div class="site-section">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-md-7">
                <h2 class="h3 mb-3 text-black">Thank you for trying this website!</h2>
                <p class="text-black">All though the products on these page aren't real, I would stronly recommend making yourself a cup of coffee or tea!</p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}