{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}


<div class="site-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7">
                <h1 class="h3 mb-3 text-black">{% trans "Logout" %}</h1>
                <p>{% trans 'Are you sure you want to logout?' %}</p>
            </div>
            <div class="col-md-7">
              <form method="post" action="{% url 'account_logout' %}">
                {% csrf_token %}
                {% if redirect_field_value %}
                <input  class="btn btn-primary btn-lg" type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                {% endif %}
                <button  class="btn btn-sm btn-outline-secondary btn-lg " type="submit">{% trans 'Yes' %}</button>
                <a href="/" class="btn btn-sm btn-outline-warning btn-lg " >{% trans 'No, go back' %}</a>
              </form>               
            </div>
        </div>
    </div>
</div>


{% endblock %}
