{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <div class="site-section">
        <div class="container">
            <div class="row justify-content-center">
                
                <div class="col-md-7">
                    <h1 class="h3 mb-3 text-black">{% trans "Password Reset" %}</h1>
                    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
                </div>

                <div class="col-md-7">
                <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}"
                                value="{{ redirect_field_value }}"/>
                    {% endif %}
                    {{ form|crispy }}
                    <input type="submit" class="btn btn-primary btn-lg btn-block"  value="{% trans 'Reset My Password' %}" />
                    {% csrf_token %}
                </form>

           <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
                    <div class="row mt-3">
                        <div class="col-6">
                            <a href="{% url 'account_login' %}"><small>Already have an
                                account?</small></a>
                        </div>
                        <div class="col-6 text-right">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}