{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<header class="masthead d-lg-none">
<div class="container h-100">
    <div class="row h-100 align-items-center">
    <div class="col-12 text-center">
        <h1 class="display-1 font-weight-bold text-light">Staff dashboard</h1>
        <p class="lead text-white">Sorry! The staff dashboard can't be accecced by phone</p>
        <p class="lead text-white">Please use a bigger screen to access the dashboard</p>
    </div>
    </div>
</div>
</header>
<div class="site-section d-none d-lg-block">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}