<footer class="site-footer border-top">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <p>
                    Copyright by <a href="https://jeremygehlen.com">Jeremy Gehlen</a> &copy;
                    <script>document.write(new Date().getFullYear());</script>
                    All rights reserved | This website is a personal project made with Django</i>
                </p>
            </div>
        </div>
    </div>
</footer>