{% extends "base.html" %}
{% load static %}

{% block content %}

<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="display-1 font-weight-bold text-light">Welcome to Django Coffee Co</h1>
        <p class="lead text-white">A great coffee shop that doesn't really exist</p>
      </div>
    </div>
  </div>
</header>

<div class="container">
    <div class="row my-5">
      <div class="col-lg-7" data-aos="fade" data-aos-anchor-placement="top-bottom"  data-aos-duration="500">
        <img class="img-fluid rounded mb-4 mb-lg-0" src="https://images.unsplash.com/photo-1495474472287-4d71bcdd2085?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" alt="">
      </div>
      <div class="col-lg-5 d-flex flex-column justify-content-between">
      <div>
        <h1 class="font-weight-bold mb-3">Django Coffee Co</h1>
        <p>The place for the best coffee in the world. I wish!
        This is a website concept of what a coffeeshop could look like.
        Feel free to browse around and give some feedback through the contact form</p>
      </div>
        <a class="btn btn-secondary btn-sm" href="{% url 'cart:product-list' %}">See our products</a>
      </div>
    </div>

    <!-- Content Row -->
    <div class="row">
      <div class="col-md-6 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <img class="card-img-top mb-3" src="https://stripe.com/img/v3/home/social.png" alt="Product Image">
            <h2 class="text-lead mb-3">Payments are handled by Stripe</h2>
            <p class="font-weight-bold mb-3">
              <i>A fully integrated suite of payments products</i>
            </p>
            <p class="card-text mb-3">
            <i>We bring together everything that’s required to build websites and apps that accept payments and send payouts globally.</i>
            </p>
                        <i>Stripe’s products power payments for online and in-person retailers, subscriptions businesses, software platforms and marketplaces, and everything in between.</i>
            </p>
          </div>
          <div class="card-footer">
            <a href="https://stripe.com/en-fi" class="btn btn-secondary btn-sm">More Info</a>
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->
      <div class="col-md-6 mb-5">
        <div class="card h-100">
          <div class="card-body">
          <img class="card-img-top mb-3" src="https://themeforest.img.customer.envatousercontent.com/files/180904265/djangopre.jpg?auto=compress%2Cformat&q=80&fit=crop&crop=top&max-h=8000&max-w=590&s=9625d406063207f9205a65eb7d1c6ff0" alt="">
            <h2 class="text-lead mb-3">Built with Django</h2>
            <p class="font-weight-bold mb-3"><i>Uses Of Django</i></p>
            <p class="card-text mb-3">
            <i>Django is an open-source python web framework used for rapid development, pragmatic, maintainable, clean design, and secures websites. A web application framework is a toolkit of all components need for application development.</i>
            </p>
            <p class="card-text mb-3">
            <i>The main goal of the Django framework is to allow developers to focus on components of the application that are new instead of spending time on already developed components.</i>
            </p>
              <p class="card-text mb-3">
            <i>It is fully featured than many other frameworks on the market. It takes care of a lot of hassle. involved in web development; enables users to focus on developing components needed for their application.</i>
            </p>
          </div>
          <div class="card-footer">
            <a href="https://www.djangoproject.com/" class="btn btn-secondary btn-sm">More Info</a>
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
  
{% endblock content %}
