{% load static %}

<script src="{% static 'ecommerce/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'ecommerce/js/jquery-ui.js' %}"></script>
<script src="{% static 'ecommerce/js/popper.min.js' %}"></script>
<script src="{% static 'ecommerce/js/bootstrap.min.js' %}"></script>
<script src="{% static 'ecommerce/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'ecommerce/js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'ecommerce/js/aos.js' %}"></script>
<script src="{% static 'ecommerce/js/main.js' %}"></script>